<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/card.css">
<link rel="stylesheet" href="/css/shop.css">
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
  rel="stylesheet"
/>
    <title><%=pageTitle%></title>

</head>
<body>
    <header>
      <%-include('components/nav.ejs')%>
        <main>
            <% if(prods.length > 0) { %>

 <section class="card-list">
  <article class="card">
    <header class="card-header">
      <p>Sep 11th 2020</p>
      <h2>Never forget</h2>
    </header>

    <div class="card-author">
      <a class="author-avatar" href="#">
        <img src="avatar.png" />
      </a>
      <svg class="half-circle" viewBox="0 0 106 57">
        <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
      </svg>

      <div class="author-name">
        <div class="author-name-prefix">Author</div>
        Harikrishnan
      </div>
    </div>
    <div class="tags">
      <a href="#">html</a>
      <a href="#">css</a>
      <a href="#">web-dev</a>
    </div>
  </article>



  <article class="card">
    <header class="card-header">
      <p>Sep 11th 2020</p>
      <h2>Card Tricks are fun!</h2>
    </header>

    <div class="card-author">
      <a class="author-avatar" href="#">
        <img src="https://api.adorable.io/avatars/172/a.png" />
      </a>
      <svg class="half-circle" viewBox="0 0 106 57">
        <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
      </svg>

      <div class="author-name">
        <div class="author-name-prefix">Pirate</div>
        Zheng Zhilong
      </div>
    </div>
    <div class="tags">
      <a href="#">html</a>
      <a href="#">css</a>
    </div>
  </article>




  <article class="card">
    <header class="card-header">
      <p>Sep 11th 2020</p>
      <h2>Card Tricks are fun!</h2>
    </header>

    <div class="card-author">
      <a class="author-avatar" href="#">
        <img src="https://api.adorable.io/avatars/172/b.png" />
      </a>
      <svg class="half-circle" viewBox="0 0 106 57">
        <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
      </svg>

      <div class="author-name">
        <div class="author-name-prefix">Pirate</div>
        Francis Drake
      </div>
    </div>
    <div class="tags">
      <a href="#">html</a>
      <a href="#">css</a>
    </div>
  </article>

  <article class="card">
    <header class="card-header">
      <p>Sep 11th 2020</p>
      <h2>Card Tricks are fun!</h2>
    </header>

    <div class="card-author">
      <a class="author-avatar" href="#">
        <img src="https://api.adorable.io/avatars/172/c.png" />
      </a>
      <svg class="half-circle" viewBox="0 0 106 57">
        <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
      </svg>

      <div class="author-name">
        <div class="author-name-prefix">Pirate</div>
        Edward Teach
      </div>
    </div>
    <div class="tags">
      <a href="#">html</a>
      <a href="#">css</a>
    </div>
  </article>


  <article class="card">
    <header class="card-header">
      <p>Sep 11th 2020</p>
      <h2>Card Tricks are fun!</h2>
    </header>

    <div class="card-author">
      <a class="author-avatar" href="#">
        <img src="https://api.adorable.io/avatars/172/d.png" />
      </a>
      <svg class="half-circle" viewBox="0 0 106 57">
        <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
      </svg>

      <div class="author-name">
        <div class="author-name-prefix">Pirate</div>
        William Kidd
      </div>
    </div>
    <div class="tags">
      <a href="#">html</a>
      <a href="#">css</a>
    </div>
  </article>

  <article class="card">
    <header class="card-header">
      <p>Sep 11th 2020</p>
      <h2>Card Tricks are fun!</h2>
    </header>

    <div class="card-author">
      <a class="author-avatar" href="#">
        <img src="https://api.adorable.io/avatars/172/d.png" />
      </a>
      <svg class="half-circle" viewBox="0 0 106 57">
        <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
      </svg>

      <div class="author-name">
        <div class="author-name-prefix">Pirate</div>
        William Kidd
      </div>
    </div>
    <div class="tags">
      <a href="#">html</a>
      <a href="#">css</a>
    </div>
  </article>

  <article class="card">
    <header class="card-header">
      <p>Sep 11th 2020</p>
      <h2>Card Tricks are fun!</h2>
    </header>

    <div class="card-author">
      <a class="author-avatar" href="#">
        <img src="https://api.adorable.io/avatars/172/d.png" />
      </a>
      <svg class="half-circle" viewBox="0 0 106 57">
        <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
      </svg>

      <div class="author-name">
        <div class="author-name-prefix">Pirate</div>
        William Kidd
      </div>
    </div>
    <div class="tags">
      <a href="#">html</a>
      <a href="#">css</a>
    </div>
  </article>



</section>
            <% } else { %>
                <div class = "in-progress-container">
                  <h1>Products are being loaded to store...</h1>
                  <svg width="700" height="451" viewBox="0 0 1010 751" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="In progress" clip-path="url(#clip0)">
                    <g id="color_1">
                    <path id="Vector" d="M558.933 125.107C497.261 122.584 438.523 99.1318 382.435 73.4735C326.347 47.8152 270.792 19.3311 210.597 5.73128C171.88 -3.01794 127.599 -4.25703 96.4098 20.2075C66.3836 43.7201 56.683 84.308 51.4706 122.085C47.5446 150.448 45.2385 180.292 55.9874 206.842C63.4582 225.278 76.7036 240.766 85.8706 258.431C117.765 319.872 95.2187 395.623 60.6662 455.613C44.4667 483.75 25.6467 510.587 13.135 540.552C0.623307 570.517 -5.16085 604.818 5.78808 635.388C16.6322 665.609 42.4846 688.412 70.4907 704.414C127.37 736.918 194.369 746.211 259.748 751.485C404.428 763.15 549.871 758.088 694.932 752.996C748.619 751.122 802.535 749.233 855.345 739.396C884.676 733.971 914.95 725.343 936.247 704.535C963.272 678.121 969.971 633.393 951.856 600.27C921.477 544.707 837.507 530.896 816.247 471.268C804.565 438.447 816.562 401.894 833.552 371.445C869.992 306.151 931.064 248.866 934.275 174.218C936.486 122.962 907.126 71.6148 861.73 47.3618C814.151 21.9453 748.162 25.1337 713.076 67.2176C676.913 110.601 613.392 127.283 558.933 125.107Z" fill="url(#paint0_linear)"/>
                    </g>
                    <g id="gear_2">
                    <path id="Vector_2" d="M557.4 280.55C571.016 280.55 584.326 284.588 595.646 292.152C606.967 299.717 615.791 310.469 621.001 323.048C626.211 335.628 627.574 349.47 624.917 362.824C622.26 376.178 615.702 388.444 606.074 398.071C596.445 407.698 584.178 414.253 570.824 416.908C557.47 419.564 543.628 418.199 531.049 412.987C518.47 407.775 507.72 398.95 500.157 387.628C492.594 376.306 488.558 362.996 488.56 349.38C488.563 331.124 495.817 313.617 508.726 300.709C521.636 287.801 539.144 280.55 557.4 280.55ZM557.4 263.55C540.422 263.55 523.825 268.585 509.709 278.017C495.592 287.45 484.59 300.857 478.093 316.543C471.597 332.229 469.897 349.489 473.21 366.14C476.523 382.792 484.7 398.087 496.705 410.092C508.711 422.096 524.008 430.271 540.66 433.582C557.312 436.893 574.571 435.192 590.256 428.693C605.941 422.194 619.347 411.191 628.778 397.073C638.209 382.955 643.242 366.358 643.24 349.38C643.214 326.623 634.161 304.806 618.068 288.715C601.976 272.624 580.157 263.574 557.4 263.55Z" fill="#3F3D56"/>
                    <path id="Vector_3" d="M564.81 243.47H544.69V264.65H564.81V243.47Z" fill="#3F3D56"/>
                    <path id="Vector_4" d="M617.943 262.424L600.697 252.061L589.789 270.216L607.035 280.579L617.943 262.424Z" fill="#3F3D56"/>
                    <path id="Vector_5" d="M653.311 304.342L643.557 286.744L625.033 297.013L634.787 314.61L653.311 304.342Z" fill="#3F3D56"/>
                    <path id="Vector_6" d="M643.293 411.439L653.955 394.376L635.993 383.152L625.331 400.215L643.293 411.439Z" fill="#3F3D56"/>
                    <path id="Vector_7" d="M480.019 314.603L489.774 297.006L471.249 286.738L461.495 304.335L480.019 314.603Z" fill="#3F3D56"/>
                    <path id="Vector_8" d="M489.477 400.207L478.815 383.145L460.854 394.368L471.516 411.431L489.477 400.207Z" fill="#3F3D56"/>
                    <path id="Vector_9" d="M507.761 280.577L525.007 270.215L514.099 252.06L496.852 262.422L507.761 280.577Z" fill="#3F3D56"/>
                    <path id="Vector_10" d="M564.81 434.11H544.69V455.29H564.81V434.11Z" fill="#3F3D56"/>
                    <path id="Vector_11" d="M607.038 418.186L589.791 428.549L600.7 446.704L617.946 436.341L607.038 418.186Z" fill="#3F3D56"/>
                    <path id="Vector_12" d="M496.855 436.343L514.101 446.705L525.01 428.55L507.764 418.188L496.855 436.343Z" fill="#3F3D56"/>
                    <path id="Vector_13" d="M473.74 340.91H449.38V358.91H473.74V340.91Z" fill="#3F3D56"/>
                    <path id="Vector_14" d="M641.06 358.91H665.42V340.91H641.06V358.91Z" fill="#3F3D56"/>
                    </g>
                    <g id="gear_3">
                    <path id="Vector_15" d="M717.32 156.64C730.936 156.64 744.246 160.678 755.567 168.242C766.887 175.807 775.711 186.559 780.921 199.138C786.131 211.718 787.494 225.56 784.837 238.914C782.18 252.268 775.622 264.534 765.994 274.161C756.365 283.788 744.098 290.343 730.744 292.998C717.39 295.654 703.548 294.289 690.969 289.077C678.39 283.865 667.64 275.04 660.077 263.718C652.514 252.396 648.478 239.086 648.48 225.47C648.483 207.214 655.737 189.707 668.646 176.799C681.556 163.891 699.064 156.64 717.32 156.64ZM717.32 139.64C700.342 139.64 683.745 144.675 669.629 154.107C655.512 163.54 644.51 176.947 638.013 192.633C631.517 208.319 629.817 225.579 633.13 242.23C636.443 258.882 644.62 274.177 656.625 286.182C668.631 298.186 683.928 306.361 700.58 309.672C717.232 312.983 734.491 311.282 750.177 304.783C765.862 298.284 779.267 287.28 788.698 273.163C798.129 259.045 803.162 242.448 803.16 225.47C803.134 202.713 794.081 180.896 777.988 164.805C761.896 148.714 740.077 139.664 717.32 139.64Z" fill="#3F3D56"/>
                    <path id="Vector_16" d="M724.73 119.57H704.61V140.75H724.73V119.57Z" fill="#3F3D56"/>
                    <path id="Vector_17" d="M777.87 138.507L760.624 128.145L749.715 146.299L766.961 156.662L777.87 138.507Z" fill="#3F3D56"/>
                    <path id="Vector_18" d="M813.236 180.428L803.482 162.831L784.957 173.099L794.712 190.696L813.236 180.428Z" fill="#3F3D56"/>
                    <path id="Vector_19" d="M803.21 287.531L813.872 270.468L795.91 259.244L785.248 276.307L803.21 287.531Z" fill="#3F3D56"/>
                    <path id="Vector_20" d="M639.933 190.705L649.687 173.108L631.163 162.84L621.408 180.437L639.933 190.705Z" fill="#3F3D56"/>
                    <path id="Vector_21" d="M649.394 276.305L638.732 259.242L620.77 270.466L631.432 287.529L649.394 276.305Z" fill="#3F3D56"/>
                    <path id="Vector_22" d="M667.681 156.664L684.927 146.301L674.019 128.146L656.772 138.509L667.681 156.664Z" fill="#3F3D56"/>
                    <path id="Vector_23" d="M724.73 310.2H704.61V331.38H724.73V310.2Z" fill="#3F3D56"/>
                    <path id="Vector_24" d="M766.957 294.28L749.711 304.642L760.62 322.797L777.866 312.435L766.957 294.28Z" fill="#3F3D56"/>
                    <path id="Vector_25" d="M656.769 312.429L674.015 322.792L684.923 304.637L667.677 294.274L656.769 312.429Z" fill="#3F3D56"/>
                    <path id="Vector_26" d="M633.65 217H609.29V235H633.65V217Z" fill="#3F3D56"/>
                    <path id="Vector_27" d="M800.99 235H825.35V217H800.99V235Z" fill="#3F3D56"/>
                    </g>
                    <g id="gear_1">
                    <path id="Vector_28" d="M406.251 156.431C407.061 156.431 407.871 156.431 408.681 156.431C426.724 157.046 443.803 164.725 456.239 177.813C468.674 190.901 475.471 208.35 475.164 226.401C474.857 244.452 467.472 261.66 454.598 274.318C441.725 286.976 424.394 294.069 406.341 294.071C405.531 294.071 404.721 294.071 403.901 294.071C385.856 293.456 368.776 285.776 356.34 272.687C343.905 259.598 337.109 242.148 337.417 224.096C337.725 206.044 345.113 188.836 357.988 176.179C370.864 163.522 388.196 156.43 406.251 156.431ZM406.251 139.431C383.737 139.428 362.124 148.27 346.068 164.052C330.012 179.833 320.798 201.291 320.413 223.801C320.027 246.311 328.5 268.071 344.006 284.394C359.512 300.716 380.81 310.293 403.311 311.061C404.311 311.061 405.311 311.111 406.311 311.111C428.823 311.111 450.435 302.267 466.489 286.485C482.543 270.703 491.754 249.245 492.139 226.736C492.523 204.227 484.049 182.468 468.543 166.147C453.037 149.826 431.74 140.249 409.241 139.481C408.241 139.481 407.241 139.431 406.241 139.431H406.251Z" fill="#3F3D56"/>
                    <path id="Vector_29" d="M417.362 119.699L397.255 119L396.519 140.167L416.627 140.866L417.362 119.699Z" fill="#3F3D56"/>
                    <path id="Vector_30" d="M469.798 140.471L452.922 129.516L441.39 147.281L458.266 158.236L469.798 140.471Z" fill="#3F3D56"/>
                    <path id="Vector_31" d="M503.696 183.59L494.558 165.665L475.688 175.284L484.826 193.209L503.696 183.59Z" fill="#3F3D56"/>
                    <path id="Vector_32" d="M489.978 290.247L501.226 273.565L483.665 261.724L472.417 278.407L489.978 290.247Z" fill="#3F3D56"/>
                    <path id="Vector_33" d="M330.149 187.821L340.508 170.573L322.351 159.667L311.992 176.915L330.149 187.821Z" fill="#3F3D56"/>
                    <path id="Vector_34" d="M337.487 274.504L327.427 257L309 267.59L319.06 285.094L337.487 274.504Z" fill="#3F3D56"/>
                    <path id="Vector_35" d="M359.079 154.763L376.675 145.006L366.403 126.483L348.808 136.241L359.079 154.763Z" fill="#3F3D56"/>
                    <path id="Vector_36" d="M410.751 310.204L390.643 309.506L389.908 330.673L410.016 331.371L410.751 310.204Z" fill="#3F3D56"/>
                    <path id="Vector_37" d="M453.516 295.773L435.92 305.53L446.192 324.053L463.788 314.295L453.516 295.773Z" fill="#3F3D56"/>
                    <path id="Vector_38" d="M342.782 310.069L359.658 321.024L371.191 303.259L354.315 292.304L342.782 310.069Z" fill="#3F3D56"/>
                    <path id="Vector_39" d="M322.97 213.906L298.625 213.06L298 231.049L322.345 231.895L322.97 213.906Z" fill="#3F3D56"/>
                    <path id="Vector_40" d="M489.587 237.678L513.932 238.524L514.558 220.535L490.212 219.689L489.587 237.678Z" fill="#3F3D56"/>
                    </g>
                    <g id="woman">
                    <path id="Vector_41" d="M389.16 650.5C392.16 645.11 395.75 640.03 398.65 634.57C401.3 629.57 403.37 624.27 405.76 619.13C409.85 610.33 414.89 602.01 419.48 593.45C422.48 587.84 425.38 581.73 424.8 575.39C424.25 569.39 420.73 564.19 419.37 558.39C413.83 534.58 400.5 512.72 392.37 489.69C390.29 483.85 388.27 477.97 385.67 472.33C380.67 461.48 373.67 451.73 366.67 442.06C364.147 438.366 361.339 434.875 358.27 431.62C355.76 429.11 352.94 426.9 350.66 424.18C345.96 418.58 343.76 410.52 337.88 406.18C337.78 406.44 337.67 406.69 337.56 406.95C333.35 396.2 319.23 389.11 311.04 380.2C306.272 374.759 301.885 368.995 297.91 362.95L280.08 337.18C277.01 332.74 273.88 328.18 272.64 322.89C271.12 316.51 272.53 309.71 271.03 303.33C270.071 299.489 268.202 295.936 265.58 292.97C265.75 292.92 265.93 292.85 266.11 292.81C269.51 291.9 273.11 291.74 276.48 290.93C283.83 289.18 290.22 284.48 297.54 282.6C301.28 281.6 305.27 281.4 308.66 279.6C310.309 278.613 311.609 277.137 312.38 275.377C313.15 273.617 313.353 271.661 312.96 269.78C310.59 257.23 317.21 244.51 316.09 231.78C315.79 228.26 314.89 224.83 314.31 221.34C312.96 213.24 313.21 204.94 313.69 196.72C315.972 193.016 318.71 189.612 321.84 186.59C326.34 182.25 331.71 178.59 334.84 173.16C337.57 168.35 338.23 162.54 337.54 157.04C337.05 153.04 335.69 148.83 332.54 146.4C329.39 143.97 324.87 143.79 321.06 145.06C320.53 145.23 320.01 145.44 319.5 145.66C317.908 144.863 316.169 144.399 314.392 144.296C312.614 144.192 310.834 144.453 309.16 145.06C305.36 146.32 302.1 148.83 299.04 151.44C297.226 152.862 295.635 154.547 294.32 156.44C292.39 159.44 291.83 163.14 291.1 166.67C289.548 173.484 287.285 180.117 284.35 186.46C283.81 187.58 282.35 189.59 281.17 191.51L279.03 191.07C278.1 199.98 270.64 206.52 266.1 214.22C263.89 217.96 262.34 222.05 260.35 225.92C258.079 230.133 255.544 234.198 252.76 238.09C250.06 242.09 247.357 246.053 244.65 249.98C241.258 255.137 237.586 260.105 233.65 264.86C229.98 264.56 226.31 264.29 222.65 264.23C216.507 264.142 210.371 264.688 204.34 265.86C203.988 263.739 203.771 261.598 203.69 259.45C203.69 259.32 203.69 259.19 203.69 259.06C203.69 258.54 203.75 257.92 203.82 257.25C209.017 253.769 213.247 249.028 216.115 243.469C218.982 237.909 220.394 231.714 220.217 225.461C220.04 219.209 218.281 213.103 215.104 207.715C211.927 202.326 207.436 197.831 202.05 194.65C202.249 193.526 202.376 192.39 202.43 191.25C202.43 190.58 202.43 189.9 202.43 189.25C202.43 188.91 202.43 188.57 202.36 188.25C202.298 187.576 202.184 186.907 202.02 186.25C201.94 185.93 201.85 185.61 201.74 185.25C201.527 184.623 201.249 184.019 200.91 183.45C200.889 183.415 200.866 183.382 200.84 183.35C200.71 183.14 200.58 182.93 200.43 182.73C200.28 182.53 200.3 182.57 200.24 182.49C200.135 182.344 200.021 182.203 199.9 182.07L199.65 181.81C199.54 181.69 199.43 181.57 199.31 181.46L199.03 181.21L198.68 180.9L198.36 180.66L198 180.39L197.65 180.16L197.29 179.93C197.17 179.85 197.04 179.78 196.91 179.71L196.54 179.5L196.14 179.3L195.77 179.12L195.33 178.93L194.97 178.77L194.49 178.59L194.15 178.46L193.63 178.28L193.32 178.18L192.75 178L192.48 177.92L191.86 177.75L191.62 177.68L190.97 177.52L190.78 177.47L190.06 177.31H189.94L188.88 177.08C184.5 176.18 180.093 175.403 175.66 174.75C172.03 174.21 168.31 173.75 164.73 174.56C159.79 175.66 155.67 179 151.05 181.07C145.59 183.53 139.53 184.18 133.71 185.53C127.89 186.88 121.9 189.19 118.25 193.96C115.47 197.6 114.36 202.23 113.53 206.74C106.61 244.38 114.07 282.99 115.48 321.25C116.03 336.14 115.36 352.06 106.92 364.25L131.5 363.6C132.68 363.6 133.87 363.53 135.07 363.46C136.27 363.39 137.47 363.3 138.65 363.16C141.767 362.868 144.796 361.96 147.56 360.49C148.84 359.761 150.009 358.852 151.03 357.79C154.37 354.35 156.15 349.54 157.78 344.94C158.33 343.39 158.88 341.82 159.37 340.24C159.57 339.58 159.76 338.92 159.93 338.24L160.01 337.92L160.29 338.05C161.29 339.93 162.42 341.77 163.62 343.55C167.91 349.87 173.35 355.27 178.75 360.64C189.48 371.29 200.45 382.13 213.9 388.97C218.44 391.26 223.35 393.19 226.81 396.97C228.51 398.8 229.98 401.15 232.39 401.78C233.89 402.17 235.54 401.78 236.97 402.42C239.07 403.3 239.84 405.83 240.81 407.91C241.78 409.99 243.97 412.11 246.05 411.16C245.66 413.091 245.821 415.093 246.514 416.937C247.207 418.781 248.405 420.394 249.97 421.59C250.977 422.149 251.846 422.929 252.51 423.87C252.83 424.728 253.006 425.634 253.03 426.55C253.457 429.104 254.806 431.413 256.82 433.04C254.87 436.27 256.43 440.9 256.48 444.93C256.48 448.31 255.37 451.57 254.61 454.86C252.4 464.51 253.61 474.61 255.41 484.34C256.41 489.71 257.68 495.27 261.18 499.44C262.32 500.79 263.68 501.96 264.88 503.27C267.171 505.851 269.074 508.751 270.53 511.88C273.565 518.075 275.632 524.699 276.66 531.52C277.143 534.943 278.12 538.277 279.56 541.42C281.75 546.2 279.75 552.08 281.71 556.96C282.6 559.15 284.24 561.02 284.77 563.31C285.52 566.64 283.77 569.97 283.3 573.36C282.16 581.3 287.89 588.67 288.41 596.67C288.495 597.139 288.395 597.623 288.13 598.02C287.74 598.46 287.07 598.45 286.54 598.7C285.54 599.18 285.27 600.53 284.95 601.65C284.63 602.77 283.73 604.04 282.62 603.7C266.19 612.49 249.18 620.61 232.75 629.4L225.25 633.4L185.14 654.83C184.653 655.072 184.244 655.446 183.959 655.909C183.674 656.372 183.526 656.906 183.53 657.45C183.53 657.93 183.59 658.45 183.63 658.9C180.82 659.6 178.12 660.44 176.2 660.79C175.41 660.94 174.62 661.09 173.84 661.26C174.03 660.956 174.152 660.615 174.2 660.26C174.203 659.767 174.024 659.29 173.698 658.921C173.371 658.552 172.92 658.317 172.43 658.26C171.45 658.163 170.461 658.293 169.54 658.64C167.247 659.267 164.906 659.698 162.54 659.93C159.73 660.2 156.87 660.19 154.15 660.93C151.43 661.67 148.75 663.32 147.65 665.93C147.1 667.44 146.855 669.044 146.93 670.65C146.869 676.831 147.602 682.995 149.11 688.99C149.134 689.228 149.212 689.457 149.339 689.66C149.465 689.863 149.637 690.034 149.84 690.16C150.19 690.3 150.61 690.16 150.96 690.32C151.268 690.506 151.499 690.797 151.61 691.14C153.29 694.96 153.68 699.22 154.13 703.38C154.797 709.547 155.64 715.697 156.66 721.83C157.26 725.41 158 729.15 160.33 731.91C162.89 734.91 166.94 736.24 170.85 736.77C179.1 737.88 187.43 736.21 195.57 734.5C197.09 734.18 198.72 733.79 199.74 732.61C200.486 731.668 200.844 730.477 200.74 729.28C200.55 725.17 196.81 722.28 193.41 719.97L188.77 716.76C188.374 716.55 188.06 716.213 187.879 715.803C187.698 715.393 187.659 714.934 187.77 714.5L188.07 708.43H187.17C188.17 704.15 189.78 700.04 192.93 697.1C195.1 695.1 197.93 693.7 200.2 691.88C203.112 694.119 206.64 695.414 210.31 695.59C216.31 687.51 224.76 682.01 233.21 676.59C240.073 672.255 247.167 668.295 254.46 664.73C260.367 661.81 266.367 659.073 272.46 656.52C281.06 652.9 289.82 649.67 298.59 646.52C304.44 644.42 310.34 642.35 315.73 639.25C329.73 631.16 339.62 615.01 337.73 598.84C335.35 578.44 340.44 557.18 340.1 536.64C340 530.64 339.78 524.64 337.96 518.89C338.383 519.19 338.781 519.525 339.15 519.89C342.79 523.29 343.67 528.69 347.15 532.57C349.86 535.62 353.98 537.57 355.62 541.29C356.87 544.14 356.69 547.99 359.3 549.63C360.04 550.1 360.92 550.3 361.66 550.76C362.545 551.391 363.291 552.198 363.85 553.13C366.62 557.08 369.49 561.31 369.79 566.13C369.92 568.04 369.74 570.25 371.14 571.54C371.54 571.91 372.05 572.18 372.26 572.68C372.7 573.68 371.54 574.74 371.34 575.85C371.05 577.39 372.57 578.56 373.51 579.85C374.294 580.926 374.717 582.223 374.717 583.555C374.717 584.887 374.294 586.184 373.51 587.26C365.31 597.91 363.83 612.26 356.66 623.65C354.18 627.58 351.42 631.3 349.02 635.28C341.64 647.5 337.91 661.54 334.29 675.37C335.836 678.062 337.932 680.4 340.44 682.23C339.085 686.887 336.749 691.2 333.59 694.88C332.784 695.78 332.029 696.725 331.33 697.71C330.744 696.967 329.975 696.389 329.1 696.03C327.785 701.771 327.114 707.64 327.1 713.53C327.1 717.41 327.63 721.84 330.78 724.08C332.037 724.872 333.42 725.444 334.87 725.77L341.73 727.77C342.937 728.233 344.246 728.361 345.52 728.14C346.33 727.91 347.05 727.41 347.88 727.25C348.782 727.157 349.693 727.277 350.54 727.6L356.47 729.33C358.475 729.864 360.435 730.556 362.33 731.4C364.02 732.21 365.58 733.26 367.24 734.16C370.001 735.555 372.866 736.732 375.81 737.68L386.03 741.2C388.877 742.329 391.853 743.101 394.89 743.5C396.99 743.68 399.12 743.5 401.19 743.86C402.77 744.13 404.3 744.7 405.89 744.86C408.529 744.938 411.123 744.167 413.29 742.66C414.137 742.182 414.867 741.523 415.43 740.73C416.93 738.39 415.64 735.3 414.18 732.94C411.47 728.56 408.08 724.46 403.61 721.94C401.8 720.94 399.84 720.2 397.97 719.28C392.65 716.68 388.64 712.34 383.61 709.37C382.969 708.913 382.189 708.693 381.403 708.745C380.618 708.798 379.874 709.121 379.3 709.66C375.12 706.95 370.6 704.3 368.3 699.89C367.275 697.762 366.6 695.483 366.3 693.14C368.65 693.7 371.02 694.14 373.41 694.53C377.3 679.45 381.55 664.1 389.16 650.5ZM293.09 224.01C292.89 225.14 292.67 226.26 292.43 227.38C290.43 236.77 287.57 247.29 281.03 254.28C278.879 256.329 276.38 257.978 273.65 259.15L272.92 259.51C277.63 246.93 285.13 235.27 293.09 224.01Z" fill="url(#paint1_linear)"/>
                    <path id="Vector_42" d="M302.77 168.31C303.51 164.82 304.07 161.16 306 158.15C307.319 156.258 308.914 154.572 310.73 153.15C313.79 150.56 317.06 148.07 320.87 146.81C324.68 145.55 329.16 145.72 332.36 148.14C335.56 150.56 336.91 154.73 337.41 158.71C338.09 164.18 337.41 169.94 334.7 174.71C331.6 180.12 326.22 183.71 321.7 188.05C318.425 191.183 315.578 194.733 313.23 198.61C312.162 200.63 310.867 202.523 309.37 204.25C308.611 205.109 307.661 205.779 306.596 206.204C305.532 206.63 304.382 206.799 303.24 206.7C301.31 206.39 299.74 205.05 298.24 203.77C296.39 202.15 291.41 199.26 291.24 196.69C291.12 194.61 295.01 189.89 295.96 187.94C298.916 181.655 301.198 175.075 302.77 168.31Z" fill="#FBBEBE"/>
                    <path id="Vector_43" opacity="0.1" d="M302.77 168.31C303.51 164.82 304.07 161.16 306 158.15C307.319 156.258 308.914 154.572 310.73 153.15C313.79 150.56 317.06 148.07 320.87 146.81C324.68 145.55 329.16 145.72 332.36 148.14C335.56 150.56 336.91 154.73 337.41 158.71C338.09 164.18 337.41 169.94 334.7 174.71C331.6 180.12 326.22 183.71 321.7 188.05C318.425 191.183 315.578 194.733 313.23 198.61C312.162 200.63 310.867 202.523 309.37 204.25C308.611 205.109 307.661 205.779 306.596 206.204C305.532 206.63 304.382 206.799 303.24 206.7C301.31 206.39 299.74 205.05 298.24 203.77C296.39 202.15 291.41 199.26 291.24 196.69C291.12 194.61 295.01 189.89 295.96 187.94C298.916 181.655 301.198 175.075 302.77 168.31Z" fill="black"/>
                    <path id="Vector_44" d="M197.77 268.26C205.782 266.129 214.051 265.12 222.34 265.26C236.17 265.46 250.41 268.81 263.58 264.57C266.98 263.391 270.286 261.957 273.47 260.28C276.12 258.96 278.82 257.6 280.85 255.44C287.4 248.5 290.22 238.05 292.27 228.72C294.32 219.39 294.85 209.81 295.38 200.28C298.79 201.87 302.38 203.44 306.16 203.12C309.94 202.8 313.71 199.92 313.69 196.12C313.13 204.95 312.69 213.89 314.18 222.61C314.76 226.07 315.66 229.48 315.97 232.98C317.09 245.62 310.46 258.25 312.83 270.72C313.221 272.591 313.017 274.537 312.246 276.286C311.475 278.034 310.175 279.497 308.53 280.47C305.13 282.3 301.13 282.53 297.39 283.47C290.06 285.34 283.66 290 276.3 291.74C272.87 292.55 269.3 292.74 265.92 293.61C261.06 294.89 256.65 297.67 251.7 298.55C247.99 299.21 244.17 298.76 240.42 299.08C237.16 299.35 233.96 300.21 230.69 300.29C222.69 300.49 215.12 295.96 209.8 289.95C204.48 283.94 201.11 275.54 197.77 268.26Z" fill="#17171B"/>
                    <path id="Vector_45" opacity="0.1" d="M197.77 268.26C205.782 266.129 214.051 265.12 222.34 265.26C236.17 265.46 250.41 268.81 263.58 264.57C266.98 263.391 270.286 261.957 273.47 260.28C276.12 258.96 278.82 257.6 280.85 255.44C287.4 248.5 290.22 238.05 292.27 228.72C294.32 219.39 294.85 209.81 295.38 200.28C298.79 201.87 302.38 203.44 306.16 203.12C309.94 202.8 313.71 199.92 313.69 196.12C313.13 204.95 312.69 213.89 314.18 222.61C314.76 226.07 315.66 229.48 315.97 232.98C317.09 245.62 310.46 258.25 312.83 270.72C313.221 272.591 313.017 274.537 312.246 276.286C311.475 278.034 310.175 279.497 308.53 280.47C305.13 282.3 301.13 282.53 297.39 283.47C290.06 285.34 283.66 290 276.3 291.74C272.87 292.55 269.3 292.74 265.92 293.61C261.06 294.89 256.65 297.67 251.7 298.55C247.99 299.21 244.17 298.76 240.42 299.08C237.16 299.35 233.96 300.21 230.69 300.29C222.69 300.49 215.12 295.96 209.8 289.95C204.48 283.94 201.11 275.54 197.77 268.26Z" fill="#17171B"/>
                    <path id="Vector_46" d="M175.77 659.11C173.293 659.412 170.89 660.161 168.68 661.32C165.68 663.15 163.83 666.38 162.51 669.64C159.2 677.82 158.51 686.8 158.37 695.64C158.25 702.76 158.49 710.05 161.04 716.69C161.739 718.792 162.953 720.686 164.57 722.2C165.993 723.319 167.64 724.117 169.4 724.54C173.2 725.54 177.61 725.54 180.72 723.14C184.18 720.43 185.05 715.66 185.78 711.33C186.78 705.49 188.17 699.33 192.51 695.26C195.73 692.26 200.34 690.76 202.68 687.04C205.47 682.62 204 676.85 202.22 671.93C200.67 667.67 198.4 659.02 193.94 656.84C189.48 654.66 180.41 658.27 175.77 659.11Z" fill="#FBBEBE"/>
                    <path id="Vector_47" d="M340.24 680.06C338.892 684.829 336.501 689.238 333.24 692.97C331.24 695.25 328.79 698.02 329.84 700.85C330.267 701.808 330.902 702.659 331.7 703.34C346.36 717.69 366.87 724.67 387.22 727.21C387.547 727.299 387.893 727.299 388.22 727.21C388.82 726.94 388.96 726.21 389.04 725.54C389.365 723.419 389.365 721.261 389.04 719.14C388.04 714.14 383.69 710.67 379.43 707.93C375.17 705.19 370.51 702.53 368.13 698.06C365.13 692.5 366.42 685.26 362.89 680.06C360.03 675.83 354.72 674.06 349.68 673.23C347.93 672.96 344.21 671.04 342.68 671.93C341.12 672.83 340.77 678.32 340.24 680.06Z" fill="#FBBEBE"/>
                    <path id="Vector_48" d="M173.77 658.59C173.773 658.097 173.594 657.62 173.268 657.251C172.941 656.882 172.49 656.647 172 656.59C171.021 656.49 170.032 656.616 169.11 656.96C166.817 657.583 164.475 658.011 162.11 658.24C159.3 658.51 156.43 658.5 153.7 659.24C150.97 659.98 148.3 661.61 147.19 664.24C146.65 665.742 146.406 667.335 146.47 668.93C146.413 675.068 147.146 681.188 148.65 687.14C148.676 687.378 148.757 687.608 148.885 687.81C149.013 688.013 149.186 688.184 149.39 688.31C149.74 688.45 150.16 688.31 150.51 688.47C150.817 688.653 151.048 688.94 151.16 689.28C152.85 693.08 153.24 697.28 153.69 701.44C154.357 707.567 155.2 713.673 156.22 719.76C156.82 723.31 157.56 727.04 159.9 729.76C162.46 732.76 166.52 734.05 170.43 734.58C178.69 735.68 187.03 734.02 195.19 732.32C196.746 732.165 198.209 731.508 199.36 730.45C200.105 729.516 200.463 728.331 200.36 727.14C200.17 723.06 196.42 720.14 193.02 717.9L188.34 714.75C188.013 714.57 187.733 714.316 187.52 714.01C187.298 713.543 187.218 713.022 187.29 712.51L187.59 706.51C184.481 706.559 181.444 707.451 178.803 709.091C176.161 710.73 174.014 713.056 172.59 715.82C171.94 717.11 171.33 718.62 169.98 719.12C168.31 719.75 166.45 718.34 165.89 716.65C165.5 714.905 165.552 713.09 166.04 711.37C168.78 696.69 168.14 681.6 169.81 666.76C169.913 665.095 170.425 663.481 171.3 662.06C172.11 660.94 173.62 659.96 173.77 658.59Z" fill="#3F3D56"/>
                    <path id="Vector_49" d="M378.01 715.51C378.7 716.65 379.77 717.51 380.41 718.69C381.05 719.87 381.04 721.59 379.89 722.26C379.211 722.559 378.455 722.636 377.73 722.48C363.048 720.658 349.264 714.423 338.2 704.6C336.363 703.048 334.736 701.263 333.36 699.29C332.07 697.29 330.98 694.94 328.78 694.12C327.465 699.82 326.794 705.65 326.78 711.5C326.78 715.35 327.31 719.75 330.46 721.98C331.723 722.764 333.109 723.329 334.56 723.65L341.43 725.59C342.642 726.048 343.953 726.175 345.23 725.96C346.04 725.74 346.76 725.23 347.59 725.08C348.494 724.984 349.409 725.1 350.26 725.42L356.19 727.15C358.196 727.661 360.159 728.33 362.06 729.15C363.75 729.95 365.32 731 366.97 731.89C369.737 733.278 372.609 734.445 375.56 735.38L386 739C388.853 740.127 391.837 740.893 394.88 741.28C396.98 741.46 399.11 741.28 401.19 741.64C402.77 741.91 404.3 742.48 405.9 742.64C408.536 742.712 411.128 741.945 413.3 740.45C414.147 739.977 414.88 739.325 415.45 738.54C416.95 736.21 415.66 733.14 414.19 730.79C411.48 726.45 408.09 722.38 403.61 719.9C401.79 718.9 399.83 718.16 397.96 717.25C392.64 714.67 388.61 710.36 383.58 707.41C378.83 704.65 375.77 711.84 378.01 715.51Z" fill="#3F3D56"/>
                    <path id="Vector_50" d="M231.38 295.2C225.865 298.989 219.546 301.447 212.92 302.38C209.454 302.812 205.962 302.999 202.47 302.94C187.908 302.922 173.373 301.708 159.01 299.31C164.73 293.01 170.51 286.31 172.67 278.05C173.74 273.693 173.961 269.171 173.32 264.73C172.454 259.033 171.095 253.422 169.26 247.96C175.386 248.289 181.529 248.131 187.63 247.49C191.11 247.14 199.63 243.97 202.63 246.37C205.44 248.6 203.32 256.49 203.27 260.13C203.27 260.26 203.27 260.39 203.27 260.52C203.427 266.045 204.618 271.493 206.78 276.58C211.18 286.42 220.59 294.5 231.38 295.2Z" fill="#FBBEBE"/>
                    <path id="Vector_51" opacity="0.1" d="M203.31 260.08C198.927 262.943 193.983 264.835 188.808 265.628C183.634 266.422 178.349 266.098 173.31 264.68C172.444 258.983 171.085 253.372 169.25 247.91C175.376 248.238 181.519 248.081 187.62 247.44C191.1 247.09 199.62 243.92 202.62 246.32C205.48 248.55 203.36 256.44 203.31 260.08Z" fill="black"/>
                    <path id="Vector_52" d="M183.27 264.34C203.484 264.34 219.87 247.954 219.87 227.74C219.87 207.526 203.484 191.14 183.27 191.14C163.056 191.14 146.67 207.526 146.67 227.74C146.67 247.954 163.056 264.34 183.27 264.34Z" fill="#FBBEBE"/>
                    <path id="Vector_53" d="M338.56 412.94C338.58 415.894 337.83 418.803 336.383 421.379C334.936 423.955 332.843 426.109 330.31 427.63C327.481 429.115 324.448 430.177 321.31 430.78C304.57 434.78 287.42 438.07 270.23 437.09C266.51 436.88 262.73 436.44 259.39 434.81C256.05 433.18 253.2 430.13 252.7 426.45C252.678 425.539 252.498 424.64 252.17 423.79C251.507 422.852 250.639 422.079 249.63 421.53C248.084 420.342 246.902 418.744 246.22 416.918C245.537 415.092 245.382 413.111 245.77 411.2C243.68 412.13 241.5 410.03 240.52 407.96C239.54 405.89 238.77 403.39 236.67 402.52C235.24 401.91 233.59 402.27 232.08 401.88C229.67 401.26 228.2 398.88 226.5 397.1C223.03 393.39 218.11 391.47 213.57 389.19C200.1 382.4 189.12 371.64 178.37 361.06C172.96 355.73 167.51 350.36 163.22 344.06C162.01 342.29 160.92 340.47 159.89 338.6C156.638 332.364 153.818 325.912 151.45 319.29C150.09 315.75 148.71 312.01 149.27 308.29C149.32 307.95 149.39 307.61 149.47 307.29C150.167 304.873 151.291 302.6 152.79 300.58C156.51 295.11 161.39 289.93 167.79 288.25C174.19 286.57 180.58 288.6 187.08 289.98C189.238 290.46 191.427 290.794 193.63 290.98C200.52 291.47 207.34 289.62 214 287.78L221.26 285.78C224.9 284.78 226.72 280.38 230.4 279.61C232.044 279.373 233.718 279.458 235.33 279.86C242.8 281.28 250.33 283.11 256.9 286.91C258.363 287.759 259.763 288.712 261.09 289.76C265.77 293.46 269.47 298.39 270.83 304.15C272.33 310.48 270.92 317.24 272.44 323.57C273.68 328.8 276.82 333.36 279.9 337.77L297.77 363.29C301.759 369.296 306.152 375.022 310.92 380.43C320.5 390.86 338.32 398.75 338.56 412.94Z" fill="#17171B"/>
                    <path id="Vector_54" d="M290.84 168.31C291.58 164.82 292.13 161.16 294.06 158.15C295.379 156.258 296.974 154.572 298.79 153.15C301.86 150.56 305.12 148.07 308.93 146.81C312.74 145.55 317.22 145.72 320.42 148.14C323.62 150.56 324.97 154.73 325.47 158.71C326.15 164.18 325.47 169.94 322.76 174.71C319.66 180.12 314.28 183.71 309.76 188.05C306.489 191.186 303.641 194.736 301.29 198.61C300.222 200.63 298.927 202.523 297.43 204.25C296.671 205.109 295.721 205.779 294.656 206.204C293.592 206.63 292.442 206.799 291.3 206.7C289.38 206.39 287.8 205.05 286.3 203.77C284.45 202.15 279.46 199.26 279.3 196.69C279.18 194.61 283.07 189.89 284.02 187.94C286.974 181.653 289.26 175.074 290.84 168.31Z" fill="#FBBEBE"/>
                    <path id="Vector_55" d="M419.47 592.27C414.87 600.76 409.83 609.03 405.73 617.77C403.34 622.88 401.27 628.14 398.61 633.11C395.71 638.53 392.14 643.57 389.11 648.93C381.48 662.44 377.23 677.68 373.3 692.69C362.307 691.044 351.73 687.31 342.14 681.69C341.49 681.31 340.87 680.91 340.27 680.48C337.706 678.642 335.561 676.28 333.98 673.55C337.61 659.82 341.34 645.86 348.73 633.73C351.14 629.73 353.9 626.08 356.38 622.18C363.57 610.88 365.05 596.62 373.26 586.04C374.045 584.973 374.468 583.684 374.468 582.36C374.468 581.036 374.045 579.747 373.26 578.68C372.31 577.45 370.8 576.28 371.08 574.76C371.29 573.65 372.45 572.65 372 571.61C371.79 571.11 371.28 570.84 370.88 570.48C369.48 569.19 369.66 566.99 369.54 565.1C369.23 560.31 366.36 556.1 363.54 552.19C362.977 551.263 362.232 550.46 361.35 549.83C360.61 549.38 359.73 549.18 358.99 548.72C356.37 547.08 356.56 543.26 355.3 540.43C353.66 536.7 349.53 534.8 346.82 531.77C343.37 527.92 342.49 522.55 338.82 519.18C338.45 518.816 338.052 518.482 337.63 518.18C339.45 523.83 339.63 529.86 339.76 535.81C340.11 556.2 335.01 577.31 337.4 597.57C339.28 613.64 329.4 629.68 315.35 637.71C309.95 640.79 304.05 642.85 298.19 644.94C289.4 648.05 280.64 651.26 272.02 654.86C265.927 657.38 259.927 660.097 254.02 663.01C246.718 666.554 239.611 670.486 232.73 674.79C224.27 680.17 215.81 685.64 209.8 693.67C203.99 693.51 198.67 690.02 194.99 685.52C191.31 681.02 188.99 675.52 186.88 670.16C185.01 665.51 183.17 660.71 183.03 655.7C183.055 655.162 183.232 654.641 183.54 654.199C183.847 653.757 184.274 653.41 184.77 653.2L224.94 631.91L232.45 627.91C248.9 619.18 265.94 611.11 282.39 602.39C283.5 602.72 284.39 601.46 284.72 600.39C285.05 599.32 285.28 597.94 286.32 597.46C286.84 597.21 287.52 597.22 287.91 596.78C288.164 596.386 288.264 595.913 288.19 595.45C287.66 587.45 281.92 580.18 283.07 572.29C283.56 568.93 285.29 565.62 284.54 562.29C284.01 560 282.37 558.15 281.48 555.98C279.48 551.13 281.48 545.29 279.32 540.54C277.885 537.417 276.908 534.103 276.42 530.7C275.386 523.924 273.315 517.347 270.28 511.2C268.82 508.092 266.916 505.212 264.63 502.65C263.42 501.35 262.06 500.19 260.91 498.84C257.42 494.7 256.13 489.18 255.14 483.84C253.34 474.17 252.14 464.14 254.34 454.56C255.1 451.29 256.26 448.05 256.21 444.7C256.16 440.27 254.21 435.1 257.29 431.9C258.566 430.755 260.116 429.959 261.79 429.59C268.87 427.48 276.24 426.52 283.57 425.59L317.12 421.2C320.96 420.69 324.89 420.2 328.28 418.29C332.83 415.78 335.85 411.13 337.7 406.29C343.59 410.59 345.79 418.6 350.49 424.15C352.78 426.86 355.61 429.05 358.12 431.54C361.189 434.772 364.001 438.24 366.53 441.91C373.53 451.52 380.53 461.2 385.53 471.98C388.14 477.58 390.16 483.42 392.24 489.23C400.43 512.1 413.78 533.81 419.32 557.45C420.68 563.23 424.21 568.45 424.76 574.36C425.38 580.63 422.48 586.69 419.47 592.27Z" fill="#3F3D56"/>
                    <path id="Vector_56" opacity="0.1" d="M243.77 402.33C242.948 403.85 242.522 405.552 242.53 407.28C243.28 403.58 248.37 401.53 248.7 397.87C248.85 396.18 248.54 396.26 247.5 397.15C245.92 398.52 245.23 400.88 243.77 402.33Z" fill="black"/>
                    <path id="Vector_57" opacity="0.1" d="M259.28 413.57C258.205 414.478 257.402 415.665 256.96 417C256.095 418.88 255.928 421.008 256.49 423C257.24 422.65 257.49 421.73 257.72 420.93C258.088 419.684 258.623 418.493 259.31 417.39C259.91 416.39 262.68 414.16 262.67 413.11C262.64 411.5 260.02 413 259.28 413.57Z" fill="black"/>
                    <path id="Vector_58" opacity="0.1" d="M261.07 289.69C258.718 291.714 256.125 293.441 253.35 294.83C246.1 298.5 238.07 300.44 230.77 304C227.169 305.846 223.67 307.885 220.29 310.11L198.59 323.86C196.847 324.859 195.24 326.079 193.81 327.49C191.2 330.27 191.21 335.16 188.81 338.14C186.41 341.12 182.27 342.8 178.28 343C174.283 343.024 170.313 342.347 166.55 341C164.271 340.318 162.034 339.503 159.85 338.56C157.566 337.591 155.405 336.355 153.41 334.88C149.54 331.96 146.41 327.71 145.83 322.88C145.569 319.566 146.009 316.233 147.12 313.1C147.721 311.062 148.494 309.078 149.43 307.17C149.963 306.085 150.579 305.042 151.27 304.05C156.27 296.99 165.04 293.68 173.53 292.05C177.99 291.18 182.53 290.65 187.04 289.89C189.198 290.37 191.387 290.704 193.59 290.89C200.48 291.38 207.3 289.53 213.96 287.69L221.22 285.69C224.86 284.69 226.68 280.29 230.36 279.52C232.004 279.283 233.678 279.368 235.29 279.77C242.76 281.19 250.29 283.02 256.86 286.82C258.33 287.675 259.737 288.634 261.07 289.69Z" fill="black"/>
                    <path id="Vector_59" d="M277.02 193C276.09 201.85 268.62 208.35 264.02 216C261.81 219.71 260.26 223.78 258.27 227.62C255.989 231.807 253.451 235.848 250.67 239.72L242.54 251.52C237.76 258.46 232.93 265.46 226.82 271.27C216.17 273.08 207.24 280.99 197.14 284.83C189.06 287.9 180.25 288.32 171.77 289.97C163.29 291.62 154.5 294.97 149.52 301.97C147.665 304.731 146.261 307.769 145.36 310.97C144.242 314.098 143.805 317.429 144.08 320.74C144.69 325.56 147.78 329.8 151.65 332.74C155.52 335.68 160.15 337.42 164.79 338.86C168.554 340.202 172.523 340.879 176.52 340.86C180.52 340.66 184.58 339.12 187.06 336C189.54 332.88 189.42 328.13 192.06 325.35C193.493 323.939 195.103 322.719 196.849 321.72L218.55 307.97C221.927 305.759 225.422 303.733 229.02 301.9C236.32 298.33 244.35 296.4 251.6 292.73C258.85 289.06 265.6 283 267.05 275C271.47 250.42 288.48 229.7 303.05 209.4C302.57 209.3 302.719 208.21 302.54 207.75C300.68 202.93 296.54 199.3 291.88 197.01C287.219 194.72 282.02 194.08 277.02 193Z" fill="#17171B"/>
                    <path id="Vector_60" d="M200.59 189.014C200.861 186.348 200.335 183.661 199.08 181.294C196.67 177.294 191.62 175.884 187.08 174.944C182.687 174.044 178.273 173.27 173.84 172.624C170.2 172.094 166.47 171.624 162.89 172.444C157.89 173.534 153.82 176.844 149.19 178.904C143.72 181.344 137.66 181.984 131.82 183.334C125.98 184.684 120 186.974 116.34 191.714C113.56 195.314 112.45 199.914 111.62 204.394C104.69 241.784 112.15 280.134 113.57 318.134C114.12 332.924 113.45 348.734 105 360.884L129.61 360.234C135.91 360.074 142.68 359.744 147.61 355.854C151.97 352.434 154.03 346.924 155.9 341.704C157.37 337.594 158.85 333.404 159.04 329.044C159.43 320.114 154.36 311.344 156.04 302.554C157.27 295.994 162.04 290.694 167.15 286.384C172.26 282.074 177.94 278.384 182.07 273.104C189.45 263.774 190.86 251.024 189.94 239.174C189.39 232.124 188.13 225.074 188.74 218.024C189.2 212.754 190.87 207.314 194.32 203.204C198.2 198.544 200.25 195.624 200.59 189.014Z" fill="#321907"/>
                    <path id="Vector_61" opacity="0.1" d="M200.54 185.01C198.17 181.07 193.25 179.65 188.74 178.71C191.138 179.563 193.189 181.179 194.58 183.31C195.84 185.676 196.365 188.364 196.09 191.03C195.75 197.63 193.7 200.55 189.78 205.22C186.33 209.33 184.66 214.76 184.2 220.04C183.59 227.09 184.85 234.14 185.4 241.19C186.32 253.04 184.91 265.79 177.54 275.12C173.4 280.36 167.72 284.12 162.62 288.4C157.52 292.68 152.73 298.01 151.5 304.57C149.85 313.36 154.92 322.13 154.5 331.06C154.31 335.42 152.82 339.61 151.35 343.72C149.49 348.94 147.42 354.44 143.06 357.86C138.06 361.75 131.33 362.09 125.06 362.25L107.63 362.71C107.24 363.35 106.84 363.99 106.41 364.6L131.02 363.95C137.32 363.79 144.09 363.46 149.02 359.57C153.38 356.15 155.44 350.64 157.31 345.42C158.78 341.31 160.26 337.12 160.45 332.76C160.84 323.83 155.77 315.06 157.45 306.27C158.68 299.71 163.45 294.41 168.56 290.1C173.67 285.79 179.35 282.1 183.48 276.82C190.86 267.49 192.27 254.74 191.35 242.89C190.8 235.84 189.54 228.79 190.15 221.74C190.61 216.47 192.28 211.03 195.73 206.92C199.65 202.26 201.73 199.34 202.04 192.73C202.314 190.065 201.792 187.379 200.54 185.01Z" fill="black"/>
                    <path id="Vector_62" opacity="0.1" d="M385.44 570.38L340.27 680.53C337.706 678.692 335.561 676.33 333.98 673.6C337.61 659.87 341.34 645.91 348.73 633.78C351.14 629.78 353.9 626.13 356.38 622.23C363.57 610.93 365.05 596.67 373.26 586.09C374.045 585.024 374.468 583.734 374.468 582.41C374.468 581.086 374.045 579.797 373.26 578.73C372.31 577.5 370.8 576.33 371.08 574.81C371.29 573.7 372.45 572.7 372 571.66C371.79 571.16 371.28 570.89 370.88 570.53C369.48 569.24 369.66 567.04 369.54 565.15C369.23 560.36 366.36 556.15 363.54 552.24C362.977 551.313 362.232 550.51 361.35 549.88C360.61 549.43 359.73 549.23 358.99 548.77C356.37 547.13 356.56 543.31 355.3 540.48C353.66 536.75 349.53 534.85 346.82 531.82C343.37 527.97 342.49 522.6 338.82 519.23L338.51 518.45L342.03 497.2L385.44 570.38Z" fill="black"/>
                    </g>
                    </g>
                    <defs>
                    <linearGradient id="paint0_linear" x1="920.515" y1="109.694" x2="-49.4125" y2="346.398" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF8A00"/>
                    <stop offset="1" stop-color="#E52E71"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear" x1="265.87" y1="744.9" x2="265.87" y2="144.2" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#808080" stop-opacity="0.25"/>
                    <stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
                    <stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
                    </linearGradient>
                    <clipPath id="clip0">
                    <rect width="1009.54" height="750.39" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>



                </div>
                <%}%>
        </main>
    </header>
    <div class="hari-logo-container" >
      <img class = "hari-logo"  src = "https://i.ibb.co/34jPwwc/Full-Color-Transparent-Bg-1280x1024-72dpi.png"/>
    </div>

</body>
</html>

<!-- Deleted Code
.nav-item:last-child {
            margin-top: auto;
          }
-->